canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px; /* Fijamos altura del canvas */
    z-index: -1; /* Lo enviamos al fondo */
}

/* Ajustar estilos de body y secciones */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}



.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}